---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
permalink: /tags/{{ tag }}/
layout: layouts/base.njk
---
{% include "components/main-header.njk" %}
<div class="section">
<div class="container">

  <h1 class="title">Tagged “{{ tag }}”</h1>

  {% set postslist = collections[ tag ] %}
  {% include "components/postslist.njk" %}

  <nav>
    <a href="{{ '/blog/' | url }}">← Blog index</a>
  </nav>
</div>
</div>
