<footer>
  <div class="container has-text-centered">
     <small>
    This project is maintained by <a href="https://github.com/shawn-sandy/open-diversity">The Open Diversity Project</a>.
    View the <a href="{{ pkg.repository.url }}">Github repo</a>.
  </small>
  </div>
</footer>
