<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>
		{% include "components/nav.njk" %}
	<header class="padding- level">
		<div class="container">
			<div class="columns">
				<div class="column mobile-padding">
					<h1 class="title is-1">
						{{ metadata.title }}
					</h1>
				</div>
			</div>
		</div>
	</header>

		<main class="section-">
			<div class="">
				{{ layoutContent | safe }}
			</div>
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
