<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>
	<header class="padding">
		<div class="container">
			<div class="columns">
				<div class="column">
					<h1 class="title is-1">
						{{ metadata.title }}
					</h1>
				</div>
				<div class="column is-pulled-right">
					<div class="navbar-end">
						<!-- {% include "components/nav.njk" %} -->
					</div>
				</div>
			</div>
		</div>
	</header>

		<main class="section-">
			<div class="container">
				{{ layoutContent | safe }}
			</div>
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
