---
layout: layouts/base.njk
section: blog
permalink: /blog/index.html
---
{% include "components/main-header.njk" %}

<section class="container blog padding">
	<div class="columns">
		<div class="column is-9">
		{{ layoutContent | safe }}

		{% set postslist = collections.posts %}
		{% include "components/postslist.njk" %}
		</div>
		<div class="column">
			Sidebar
		</div>
	</div>
</section>
