---
layout: layouts/base.njk
section: home
---
<section class="hero is-large is-dark is-bold">
		<div class="hero-body">
		  <div class="container">
			<h1 class="title is-1">
					{{ metadata.title }}
			</h1>
			<h2 class="subtitle">
			  {{ metadata.subtitle }}
			</h2>
		  </div>
		</div>
</section>
<main>
	<div class="section">
		{{ layoutContent | safe }}
	</div>
</main>
