---
layout: layouts/base.njk
section: home
---
<div class="container">

	<section class="hero is-large is-dark is-bold elm-rounded">
		<div class="hero-body">
			<div class="container">
				<div class="columns">
					<div class="column is-2"></div>
					<div class="column has-text-centered">
						<h1 class="title is-2">
							{{ metadata.subtitle }}
						</h1>
					</div>
					<div class="column is-2"></div>
				</div>
		  </div>
		</div>
	</section>
</div>
<main>
	<div class="section">
		{{ layoutContent | safe }}
	</div>
</main>
