---
layout: layouts/base.njk
section: page
---
{% include "components/main-header.njk" %}
<div class="section">
	<div class="container">
		<h3 class="title is-3">
			{{ title }}
		</h3>
		<div class="content is-size-5">
			{{ layoutContent | safe }}
		</div>
	</div>

</div>
